.hover-stylay {
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform, box-shadow;
}

.hover-stylay:hover {
  box-shadow: 0 16px 32px 0 rgba(62,57,107,0.28), 0 0 0 transparent;
  transform: translateY(-5px) translateZ(0);
}

/****************/
/* 	  MODAL     */
/****************/

.modal-custom {
	margin-left: -100px !important; /* Provisoir */
	width: 700px !important;
}
.modal-text-opener {
	color: #FA7A50;
	font-size: 20px;
}
.modal-text-opener:hover {
	text-decoration: underline;
}
@media (max-width: 700px) {
	.modal-custom {
		margin: 0 auto;
		max-width: 500px !important;
	}
}
@media (max-width: 360px) {
	.modal-custom {
		margin: 0 auto;
		max-width: 320px !important;
	}
}

/***********/
/* SIDEBAR */
/***********/

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
.sidebar p { margin: 15px 0; line-height: 24px; color: gainsboro; }
.sidebar a { color: dodgerblue; text-decoration: none; }
.sidebar a:hover { color: #F96332; text-decoration: none; }

.sidebar {
	position: fixed;
	z-index: 1000;
}
.left-navs {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}


.block-dash {
	margin-top: 62px;
}

.nav-img {
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	height: 200px;
	width: 200px;
	padding: 15px;
}
.nav-dash {
	width: 300px;
	margin-right: 35px;
	background-color: #555;
	list-style-type: none;
	padding-left: 0;
}

.nav-dash li a { color: white; box-sizing: border-box; }
.nav-dash li a:hover { color: #F96332; text-decoration: none }


.nav-dash-3 li a {
	display: block;
	margin-right: 20px;
	padding: 10px 20px;
	transition: all 300ms ease;
}

.nav-dash-3 li a:hover,
.nav-dash-3 li a.current {
	background-color: #F96332;
	color: #333;
	transform: scale(1.1) translateX(25px);
}
.my-profil {
	margin-bottom: 20px;
}

/****************/
/* PROGRESS BAR */
/****************/

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}
.wrapper-progress {
	display: table-cell;
	/*height: 174px;*//*SIZE WITH BUTTON*/
	height: 94px;
	vertical-align: middle;
}

.nav {
	margin-top: 40px;
}

.pull-right {
	float: right;
}

a, a:active {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #999;
}

/* PROGRESS BAR STEPS */

.arrow-steps .step {
	font-size: 14px;
	text-align: center;
	color: #666;
	cursor: default;
	margin: 0 3px;
	padding: 10px 10px 10px 30px;
	min-width: 180px;
	float: left;
	position: relative;
	background-color: #efc3b6;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #efc3b6;	
	z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
	position: relative;
}

.arrow-steps .step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.arrow-steps .step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
	color: #fff;
	background-color: #F96332;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #F96332;	
}
.spacer {
	margin-left: 20px;
}
.avatar-status {
	margin-top: 20px;
	line-height: 85px;
	text-align: center;
}
.avatar-status:hover {
	color: #F96332;
}

/******************************/
/* TOOLS CLEAR SPACER ETC ETC */
/******************************/

.fa {
	margin-left: 10px;
}
.spacer-left-40{
	margin-left: 45px;
}
